body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #C43413;
}
#menu ul li:hover{
    background: #C43413;
}
.button-more{
    background: #C43413;
}